/** Uncomment to Active **/
/* Colors */
.com-page-title {
  font-size: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 50px; }
  .com-page-title:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 3px;
    background-color: #F05F40; }

.block {
  display: block;
  width: 100%; }

.btn {
  outline: none !important;
  font-weight: bold; }

.btn-default {
  background-color: #e4e4e4;
  border-color: #e4e4e4; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus {
    background-color: #dfdfdf !important;
    border-color: #dfdfdf !important; }

.btn-primary {
  background-color: #fe9900;
  border-color: #fe9900;
  color: #fff !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: #f49300 !important;
    border-color: #f49300 !important; }

.bootstrap-filestyle .input-group-btn:last-child > .btn,
.bootstrap-filestyle .input-group-btn:last-child > .btn-group {
  border: 1px solid #ccc !important; }

/* Navigation Component */
/* override bootstrap */
.header-top .com-nav > li > a, .header-mid .com-nav > li > a, .header-top .com-nav > li > a:active, .header-mid .com-nav > li > a:active, .header-top .com-nav > li > a:hover, .header-mid .com-nav > li > a:hover, .header-top .com-nav > li > a:visited, .header-mid .com-nav > li > a:visited, .header-top .com-nav > .active > a, .header-mid .com-nav > .active > a, .header-top .com-nav > .active > a:active, .header-mid .com-nav > .active > a:active, .header-top .com-nav > .active > a:hover, .header-mid .com-nav > .active > a:hover, .header-top .com-nav > .active > a:visited, .header-mid .com-nav > .active > a:visited {
  color: #fefefe;
  background: none; }

.header-top .com-nav > li > a .fa, .header-mid .com-nav > li > a .fa, .header-top .com-nav > .active > a .fa, .header-mid .com-nav > .active > a .fa {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 16px; }

/* TOP HEADER SECTION : START */
.header-top {
  min-height: 90px;
  /* avoids snapping when loading*/
  /* bootstrap overrides start */
  /* styles nav component */
  /* bootstrap overrides end */
  background-color: #E01E25; }
  .header-top.navbar {
    border: none;
    border-radius: 0;
    margin: 0; }
  .header-top .navbar-header {
    padding-top: 35px; }
  .header-top .com-nav > li > a, .header-top .com-nav > li > a:active, .header-top .com-nav > li > a:hover, .header-top .com-nav > .active > a, .header-top .com-nav > .active > a:active, .header-top .com-nav > .active > a:hover {
    padding: 35px 25px;
    font-size: 12px; }

/* TOP HEADER SECTION : END */
/* MIDDLE HEADER SECTION : START */
.header-mid {
  background: url("../assets/images/bg_bokeh.jpg") no-repeat center center fixed #3E384A;
  background-size: 100%;
  min-height: 60px;
  /* avoids snapping */
  /* styles navigator link component */ }
  .header-mid .com-nav > li > a, .header-mid .com-nav > li > a:active, .header-mid .com-nav > li > a:hover, .header-mid .com-nav > .active > a, .header-mid .com-nav > .active > a:active, .header-mid .com-nav > .active > a:hover {
    padding: 20px; }

/* MIDDLE HEADER SECTION : END */
.header-bottom {
  min-height: 45px;
  /* avoids snapping */
  padding: 5px 0;
  background-color: #fafafa;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px; }
  .header-bottom a {
    color: #797979; }
  .header-bottom .breadcrumb {
    margin-bottom: 0;
    padding: 8px 6px;
    background-color: transparent; }
  .header-bottom .form-inline {
    margin-right: -20px; }
    .header-bottom .form-inline label {
      font-weight: normal; }

.com-section {
  width: 100%;
  margin: 0;
  padding: 50px 0; }
  .com-section.withbg {
    background-color: #e4e4e4; }
  .com-section.diamondbg {
    background-image: url(../assets/images/bg_diamond.jpg); }

.sm-container {
  width: 50%;
  margin: 0 auto; }

.plandetails {
  border-top: 1px solid #eee;
  padding-top: 20px; }

.store-locator {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }
  .store-locator address {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid; }

footer {
  text-align: center;
  background-color: #333333;
  padding: 60px 0; }
  footer > div {
    color: #cccccc; }
    footer > div > a {
      display: inline-block;
      padding: 0 10px;
      font-size: 12px;
      border-left: 1px solid #cccccc; }
      footer > div > a, footer > div > a:hover, footer > div > a:focus {
        color: #cccccc; }
      footer > div > a:first-child {
        border-left: none; }
    footer > div > p {
      margin: 15px auto;
      font-size: 10px; }

.datepicker {
  margin-top: 0; }

/* Search filter component */
.com-search-btn {
  border: none;
  background-color: #E01E25;
  color: #fefefe;
  margin-top: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px; }
  .com-search-btn:hover, .com-search-btn:active {
    color: #fefefe;
    background-color: #CD1D29; }

.com-search-box {
  margin-top: 10px;
  width: 400px; }
  .com-search-box .btn {
    position: relative;
    width: 100%;
    height: 36px; }
    .com-search-box .btn .caret {
      position: absolute;
      right: 8px;
      top: 16px; }

.com-search-filter {
  width: 400px; }

.com-banner {
  min-height: 500px;
  background-color: #3E384A; }

.com-gadgets {
  margin: auto; }

.com-gadget-item {
  margin: auto;
  text-align: center; }
  .com-gadget-item .cgi-icon-container {
    margin: 20px auto;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: 1px solid #797979; }
  .com-gadget-item .cgi-link {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase; }

.com-offers {
  margin: auto; }

.com-offer-item {
  min-height: 250px;
  width: 100%;
  border: 1px solid #797979; }

/* TABS COMPONENT SECTION */
.com-product-tabs {
  border-bottom: 1px solid #990000; }
  .com-product-tabs > li > a {
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    color: #797979; }
    .com-product-tabs > li > a:hover, .com-product-tabs > li > a:focus {
      border-bottom: 1px solid #990000;
      background-color: #990000;
      color: #fefefe; }
  .com-product-tabs li.active a, .com-product-tabs li.active a:focus, .com-product-tabs li.active a:hover {
    border-bottom: 1px solid #990000;
    background-color: #990000;
    color: #fefefe; }

/* PRODUCTS COMPONENT - MULTIPLE */
.com-product-items {
  padding: 0; }

/* PRODUCT COMPONENT - SINGLE */
.com-product-item {
  /*h1, p, a{
		padding:0 10px;
	}

	h1{
		font-size:16px;
	}*/ }
  div[class*="col-md"] .com-product-item {
    margin-top: 50px;
    margin-bottom: 30px; }
  .com-product-item img {
    width: 100%;
    height: 320px; }
  .com-product-item nav {
    margin: 15px auto; }
    .com-product-item nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center; }
      .com-product-item nav ul > li {
        display: inline-block;
        height: 24px;
        width: 24px;
        background-color: #797979;
        margin: 0 4px; }
  .com-product-item .btn {
    margin-top: 3px; }
  .com-product-item p, .com-product-item a {
    font-size: 14px;
    color: #797979; }
  .com-product-item h1, .com-product-item a {
    font-weight: bold; }

/* PAGINATION COMPONENT */
.com-products-paging {
  margin: 20px auto;
  text-align: center; }
  .com-products-paging ul.pagination > li {
    width: 52px;
    height: 52px;
    /* to avoid repetition */ }
    .com-products-paging ul.pagination > li > a:hover, .com-products-paging ul.pagination > li > a:focus, .com-products-paging ul.pagination > li.active > a, .com-products-paging ul.pagination > li.active > a:hover, .com-products-paging ul.pagination > li.active > a:focus {
      margin: 0px;
      padding-top: 10px;
      width: 42px;
      height: 42px;
      border-radius: 21px;
      color: #fefefe;
      background-color: #E01E25; }
    .com-products-paging ul.pagination > li > a {
      margin: 5px;
      border-radius: 16px;
      border: none;
      vertical-align: middle;
      background-color: #e4e4e4;
      color: #333333; }
