.btn {
    outline: none !important;
    font-weight: bold;
}

.btn-default{
    background-color: $flatLight;
    border-color: $flatLight;

    &:hover, &:focus, &.focus{
        background-color: darken($flatLight, 2%) !important;
        border-color: darken($flatLight, 2%) !important;
    }
}

.btn-primary{
    background-color: #fe9900;
    border-color: #fe9900;
    color: #fff !important;

    &:hover, &:focus, &.focus{
        background-color: $flatYellowDark !important;
        border-color: $flatYellowDark !important;
    }
}

.bootstrap-filestyle{
    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group{
        border: 1px solid #ccc !important;
    }
}