.com-page-title{
	font-size: 28px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    // margin: 50px auto;

	&:after{
		content: "";
	    position: absolute;
	    bottom: -25px;
	    left: 50%;
	    margin-left: -50px;
	    width: 100px;
	    height: 3px;
	    
	    background-color:$flatRedLight;
	}
}