/* Colors */

$flatRed : #E01E25;
$flatRedLight : #F05F40;
$flatRedDark : #CD1D29;
$flatRedStrong : #990000;

$flatWhite : #fefefe;
$flatLight : #e4e4e4;
$flatLight2 : #cccccc;

$flatGray : #797979;
$flatGray2 : #666666;
$flatGray3 : #333333;

$flatDark : #3E384A;

$flatYellow: #fe9900;
$flatYellowLight: lighten(#fe9900, 2%);
$flatYellowDark: darken(#fe9900, 2%);
