.com-products{
}


/* TABS COMPONENT SECTION */
.com-product-tabs{
	border-bottom:1px solid $flatRedStrong;

	& > li{
		& > a{
			border-radius: 0;
			padding-left: 50px;
			padding-right: 50px;
			text-transform: uppercase;

			color: $flatGray;

			&:hover, &:focus{
				border-bottom:1px solid $flatRedStrong;

				background-color:$flatRedStrong;
				color:$flatWhite;
			}
		}
	}

	li.active{
		a, a:focus, a:hover{
			border-bottom:1px solid $flatRedStrong;

			background-color:$flatRedStrong;
			color:$flatWhite;
		}
	}
}

/* PRODUCTS COMPONENT - MULTIPLE */
.com-product-items{
	padding:0;
}

/* PRODUCT COMPONENT - SINGLE */
.com-product-item{

	div[class*="col-md"] &{
		margin-top:50px;
		margin-bottom: 30px;
	}

	img{
		width:100%;
		height:320px;
	}

	nav{
		margin:15px auto;

		ul{
			list-style:none;
			margin:0;
			padding:0;
			text-align:center;

			& > li{
				display:inline-block;
				height:24px;
				width:24px;
				background-color: $flatGray;
				margin:0 4px;
			}
		}
	}

	.btn{
		margin-top: 3px;
	}

	/*h1, p, a{
		padding:0 10px;
	}

	h1{
		font-size:16px;
	}*/

	p, a{
		font-size:14px;
		color:$flatGray;
	}

	h1, a{
		font-weight:bold;
	}
}



/* PAGINATION COMPONENT */
.com-products-paging{
	margin:20px auto;
	text-align: center;

	ul.pagination > li {
		width:52px;
		height:52px;

		/* to avoid repetition */
		%page-active{
			margin:0px;
			padding-top:10px;
			width:42px;
			height:42px;
			border-radius:21px;

			color:$flatWhite;
			background-color:$flatRed;
		}

		& > a{
			margin:5px;
			border-radius:16px;
			border:none;
			vertical-align:middle;

			background-color:$flatLight;
			color:$flatGray3;

			&:hover, &:focus{
				@extend %page-active;
			}
		}

		&.active > a{
			&, &:hover, &:focus{
				@extend %page-active;
			}
		}
	}
}