.com-gadgets{
	margin:auto;
}

.com-gadget-item{
	margin:auto;
	text-align:center;

	.cgi-icon-container{
		margin:20px auto;
		width:160px;
		height:160px;
		border-radius:80px;
		
		border:1px solid $flatGray;
	}

	.cgi-link{
		display: inline-block;
		font-size:16px;
		text-transform: uppercase;
	}
}