/* Search filter component */

.com-search-btn{
  border:none;
  background-color: $flatRed;
  color: $flatWhite;
  margin-top:10px;
    margin-right: 20px;
  width:40px;
  height:40px;
  border-radius:20px;

  &:hover, &:active{
    color: $flatWhite;
    background-color: $flatRedDark;
  }
}

.com-search-box{
  margin-top:10px;
  width:400px;

  .btn{
    position:relative;
    width:100%;
    height:36px;

    .caret{
      position:absolute;
      right:8px;
      top:16px;
    }
  }
}



.com-search-filter{
  width:400px;
}
