footer{
	text-align:center;
	background-color:$flatGray3;
	padding:60px 0;

	& > div{
		color:$flatLight2;

		& > a{
			display:inline-block;
			padding:0 10px;
			font-size:12px;
			
			border-left:1px solid $flatLight2;
			
			&, &:hover, &:focus{
				color:$flatLight2;
			}

			&:first-child{
				border-left:none;
			}
		}

		& > p{
			margin:15px auto;
			font-size:10px;
		}
	}
}