/* TOP HEADER SECTION : START */

.header-top{
	min-height:90px; /* avoids snapping when loading*/

	/* bootstrap overrides start */
	&.navbar{
		border:none;
		border-radius:0;
		margin:0;
	}

	.navbar-header{
		padding-top:35px;
	}

	/* styles nav component */
	@extend %com-nav;
	.com-nav > li > a, .com-nav > .active > a{
		&, &:active, &:hover{
			padding:35px 25px;
			font-size:12px;
		}
	}

	/* bootstrap overrides end */
	background-color:$flatRed;
}
/* TOP HEADER SECTION : END */



/* MIDDLE HEADER SECTION : START */
.header-mid{
	background:url('../assets/images/bg_bokeh.jpg') no-repeat center center fixed $flatDark;
	background-size:100%;
	min-height:60px; /* avoids snapping */

	/* styles navigator link component */
	@extend %com-nav;
	.com-nav > li > a, .com-nav > .active > a{
		&, &:active, &:hover{
			padding:20px;
		}
	}
}
/* MIDDLE HEADER SECTION : END */

.header-bottom{
	min-height:45px; /* avoids snapping */
	padding: 5px 0;
	background-color: #fafafa;
	border-bottom: 1px solid #e4e4e4;
	font-size: 12px;

	a{
		color: $flatGray;
	}

	.breadcrumb{
		margin-bottom: 0;
		padding: 8px 6px;
		background-color: transparent;
	}

	.form-inline{
		margin-right: -20px;

		label{
			font-weight: normal;
		}
	}
}