.com-section{
  width:100%;
  margin:0;
  padding:50px 0;

  &.withbg{
      background-color: $flatLight;
  }

  &.diamondbg{
    background-image: url(../assets/images/bg_diamond.jpg);
  }
}

.sm-container{
  width: 50%;
  margin: 0 auto;
}

.plandetails{
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.store-locator{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    & address{
        -webkit-column-break-inside:avoid;
        -moz-column-break-inside:avoid;
        -o-column-break-inside:avoid;
        -ms-column-break-inside:avoid;
        column-break-inside:avoid;
    }
}