/* Navigation Component */
/* override bootstrap */
%com-nav{
	.com-nav > li > a, .com-nav > .active > a{
		&, &:active, &:hover, &:visited{
			color:$flatWhite;
			background:none;
		}

		.fa{
			margin-left:5px;
			vertical-align:middle;
			font-size:16px;
		}
	}
}